@model List<DatabasaProvider.kymdan_Users>
@{
    ViewBag.Title = "Home Page";

}
<link rel="icon" type="image/png" href="https://colorlib.com/etc/tb/Table_Fixed_Header/images/icons/favicon.ico">


<!DOCTYPE html>
<!-- saved from url=(0057)https://colorlib.com/etc/tb/Table_Fixed_Header/index.html -->
<html lang="en">
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">*@

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="https://colorlib.com/etc/tb/Table_Fixed_Header/images/icons/favicon.ico">

    <link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/animate.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/perfect-scrollbar.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/util.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/main.css">

    @*<meta name="robots" content="noindex, follow">*@
    <script type="text/javascript" async="" src="~/fonts/JS/Test HTML/a_files/analytics.js.download" nonce="549fe06c-d75c-49be-a808-8e92994d00bc"></script>
    <script defer="" referrerpolicy="origin" src="~/fonts/JS/Test HTML/a_files/s.js.download"></script>
    <script nonce="549fe06c-d75c-49be-a808-8e92994d00bc">(function (w, d) { !function (a, e, t, r) { a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zaraz = { deferred: [] }, a.zaraz.q = [], a.zaraz._f = function (e) { return function () { var t = Array.prototype.slice.call(arguments); a.zaraz.q.push({ m: e, a: t }) } }; for (const e of ["track", "set", "ecommerce", "debug"]) a.zaraz[e] = a.zaraz._f(e); a.addEventListener("DOMContentLoaded", (() => { var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0]; for (n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.x = Math.random(), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), a.zarazData.q = []; a.zaraz.q.length;) { const e = a.zaraz.q.shift(); a.zarazData.q.push(e) } z.defer = !0; for (const e of [localStorage, sessionStorage]) Object.keys(e).filter((a => a.startsWith("_zaraz_"))).forEach((t => a.zarazData["z_" + t.slice(7)] = JSON.parse(e.getItem(t)))); z.referrerPolicy = "origin", z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t) })) }(w, d, 0, "script"); })(window, document);</script>

</head>
<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Class name</th>
                                    <th class="cell100 column2">Type</th>
                                    <th class="cell100 column3">Hours</th>
                                    <th class="cell100 column4">Trainer</th>
                                    <th class="cell100 column5">Spots</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll ps ps--active-y">
                        <table>
                            <tbody>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Like a butterfly</td>
                                    <td class="cell100 column2">Boxing</td>
                                    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                    <td class="cell100 column4">Aaron Chapman</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Mind &amp; Body</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Adam Stewart</td>
                                    <td class="cell100 column5">15</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Crit Cardio</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                                    <td class="cell100 column4">Aaron Chapman</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Wheel Pose Full Posture</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">15</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Playful Dancer's Flow</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Zumba Dance</td>
                                    <td class="cell100 column2">Dance</td>
                                    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">20</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Cardio Blast</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Pilates Reformer</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Supple Spine and Shoulders</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">15</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Yoga for Divas</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">20</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Virtual Cycle</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">20</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Like a butterfly</td>
                                    <td class="cell100 column2">Boxing</td>
                                    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                    <td class="cell100 column4">Aaron Chapman</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Mind &amp; Body</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Adam Stewart</td>
                                    <td class="cell100 column5">15</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Crit Cardio</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                                    <td class="cell100 column4">Aaron Chapman</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Wheel Pose Full Posture</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">15</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Playful Dancer's Flow</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Zumba Dance</td>
                                    <td class="cell100 column2">Dance</td>
                                    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">20</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Cardio Blast</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Pilates Reformer</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">10</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Supple Spine and Shoulders</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">15</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Yoga for Divas</td>
                                    <td class="cell100 column2">Yoga</td>
                                    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                    <td class="cell100 column4">Donna Wilson</td>
                                    <td class="cell100 column5">20</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Virtual Cycle</td>
                                    <td class="cell100 column2">Gym</td>
                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                    <td class="cell100 column4">Randy Porter</td>
                                    <td class="cell100 column5">20</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ps__rail-x" style="left: 0px; bottom: -167px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 167px; height: 585px; right: 5px;"><div class="ps__thumb-y" tabindex="0" style="top: 83px; height: 293px;"></div></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/fonts/JS/Test HTML/a_files/jquery-3.2.1.min.js.download"></script>

    <script src="~/fonts/JS/Test HTML/a_files/popper.js.download"></script>
    <script src="~/fonts/JS/Test HTML/a_files/bootstrap.min.js.download"></script>

    <script src="~/fonts/JS/Test HTML/a_files/select2.min.js.download"></script>

    <script src="~/fonts/JS/Test HTML/a_files/perfect-scrollbar.min.js.download"></script>
    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });


    </script>

    <script async="" src="~/fonts/JS/Test HTML/a_files/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script src="~/fonts/JS/Test HTML/a_files/main.js.download"></script>
    <script defer="" src="~/fonts/JS/Test HTML/a_files/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon="{&quot;rayId&quot;:&quot;70d9a0d7dd18a081&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.12.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>


</body>
</html>
@* ------------------------------------------------------------------------------------- *@
<table border="1" cellpadding="0" id="UserList">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach (DatabasaProvider.kymdan_Users item in Model)
    {
        <tr id="tr_@item.ID">
            <td class="uid">@item.Uid</td>
            <td class="pwd">@item.Pwd</td>
            <td class="name">@item.Fullname</td>
            <td>
                <a href="javascript:Delete('@item.ID','@item.Fullname')">
                    [Delete]
                </a>
                &nbsp;
                <a href="javascript:BeginEdit('@item.ID','@item.Uid','@item.Fullname')">
                    [EDIT]
                </a>
            </td>
        </tr>
    }
</table>
<h2 id="TT">ADD</h2>
<input type="text" id="txtUID" placeholder="Nhap Username" />
<br />
<input type="password" id="txtPWD" placeholder="Nhap Password" />
<br />
<input type="password" id="txtPWD2" placeholder="Nhap lai Password" />
<br />
<input type="text" id="txtName" placeholder="Nhap Username" />
<br />
@*<input type="button" onclick="AddNewUsers()" value="ADD 1 NEW" />*@
<div id="lblAddOrEdit" style="padding:5px;border:1px solid #ccc;width:80px;text-align:center" onclick="AddOrEdit()">ADD</div>
<p id="lblMS" style="padding:8px;border:1px solid #4cff00;display:none"></p>
<script>

    //Nhan biet ADD or EDIT
    var EditMode = false;
    var EditID = '';

    //Add - Edit
    function AddOrEdit() {
        if (EditMode) {
            SaveEdit();
        }
        else {
            AddNewUser();
        }
    }

    //Them moi 1 row
    function AddNewUser() {

        //Kiem tra
        var uid = $('#txtUID').val();
        var pwd1 = $('#txtPWD').val();
        var pwd2 = $('#txtPWD2').val();
        var name = $('#txtName').val();

        if (uid == '' || pwd1 == '' || pwd2 == '' || name == '') {
            $('#lblMS').html('Phai nhap du tat ca thong tin');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        else if (pwd1 != pwd2) {
            $('#lblMS').html('Mat khau va mat khau nhap lai khong giong nhau');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        // AJAX
        var form = new FormData();
        form.append("uid", uid);
        form.append("pwd", pwd1);
        form.append("name", name);
        //AJAX Request
        var xhr = new XMLHttpRequest();
        //xhr.open("POST",'https://localhost:44328/Home/AddUser', true);
        xhr.open("POST", domain + '/Home/AddUser', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {
                    var IDnew = json_ct.Data.NewID;
                    //Them dong moi
                    //var tr = '<tr><td>' + uid + '</td><td>' + pwd1 + '</td><td>' + name + '</td><td></td></tr>';
                    var tr = `<tr id="tr_${IDnew}"><td>  ${uid} </td><td> ${pwd1} </td><td> ${name}</td><td>  <a href="javascript:Delete('${IDnew}','${name}')">[Delete]</a>  &nbsp; <a href="javascript:BeginEdit('${IDnew}','${uid}','${name}')">[EDIT]</a> </td></tr>`;
                    $('#UserList').append(tr);
                    $('#lblMS').html('Da them moi thanh cong');
                    $('#lblMS').css('boder-color', 'green');
                    $('#lblMS').css('color', 'green');
                    $('#lblMS').css('display', 'block');
                    //Xoa hien thi
                    $('#txtUID').val('');
                    $('#txtPWD').val('');
                    $('#txtPWD2').val('');
                    $('#txtName').val('');

                } else {
                    $('#lblMS').html(json_ct.Data.message);
                    $('#lblMS').css('boder-color', 'red');
                    $('#lblMS').css('color', 'red');
                    $('#lblMS').css('display', 'block');
                }
            }
        }
        xhr.send(form);
    }
    //Xoa bo 1 row
    function Delete(id, name) {
        if (confirm('Are you sure delete it:' + name + '?')) {
            var form = new FormData();
            form.append('id', id);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", domain + '/Home/DeleteUser', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var json_ct = JSON.parse(content);
                    if (json_ct.Data.status == "OK") {
                        // Delete Complete
                        $('#tr_' + id).remove();
                    }
                    else {
                        // Loi ERROR
                        alert('Loi : ' + json_ct.Data.message)
                    }
                }
            }
            xhr.send(form);
        }
    }
    // EDIT >1 : Hien thi du lieu de chinh sua
    function BeginEdit(id, uid, name) {
        EditMode = true;
        $('#TT').html('EDIT');
        $('#lblAddOrEdit').html('Save');

        $('#txtUID').val(uid);
        $('#txtName').val(name);
        $('#txtPWD').val('');
        $('#txtPWD2').val('');

        EditID = id;
    }

    // EDIT >2 : Luu thay doi
    function SaveEdit() {
        //Kiem tra
        var uid = $('#txtUID').val();
        var pwd1 = $('#txtPWD').val();
        var pwd2 = $('#txtPWD2').val();
        var name = $('#txtName').val();
        if (uid == '' || name == '') {
            $('#lblMS').html('Phai nhap du tat ca thong tin, bo qua pass neu khong can thay doi');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        else if (pwd1 != '' && pwd1 != pwd2) {
            $('#lblMS').html('Mat khau va mat khau nhap lai khong giong nhau');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        // AJAX
        var form = new FormData();
        form.append("id", EditID);
        form.append("uid", uid);
        form.append("pwd", pwd1);
        form.append("name", name);
        //AJAX Request
        var xhr = new XMLHttpRequest();
        //xhr.open("POST",'https://localhost:44328/Home/EditUser', true);
        xhr.open("POST", domain + '/Home/EditUser', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {

                    //Cap nhat hien thi
                    $('#tr_' + EditID + ' .uid').html(uid);
                    $('#tr_' + EditID + ' .name').html(name);
                    if (pwd1 != '') {
                        $('#tr_' + EditID + ' .pwd').html(pwd1);
                    }
                    // Thong bao
                    $('#lblMS').html('Da cap nhat DU LIEU thanh cong');
                    $('#lblMS').css('boder-color', 'green');
                    $('#lblMS').css('color', 'green');
                    $('#lblMS').css('display', 'block');
                    // Xoa du lieu Form
                    $('#txtUID').val('');
                    $('#txtPWD').val('');
                    $('#txtPWD2').val('');
                    $('#txtName').val('');

                    // Change mode to ADD
                    EditMode = false;
                    $('#lblAddOrEdit').html('ADD');
                    EditID = '';
                    $('#TT').html('ADD');
                } else {
                    $('#lblMS').html(json_ct.Data.message);
                    $('#lblMS').css('boder-color', 'red');
                    $('#lblMS').css('color', 'red');
                    $('#lblMS').css('display', 'block');
                }
            }
        }
        xhr.send(form);
    }

</script>


<script src="~/fonts/JS/Test HTML/a_files/jquery-3.2.1.min.js.download"></script>

<script src="~/fonts/JS/Test HTML/a_files/popper.js.download"></script>
<script src="~/fonts/JS/Test HTML/a_files/bootstrap.min.js.download"></script>

<script src="~/fonts/JS/Test HTML/a_files/select2.min.js.download"></script>

<script src="~/fonts/JS/Test HTML/a_files/perfect-scrollbar.min.js.download"></script>
<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });


</script>

<script async="" src="~/fonts/JS/Test HTML/a_files/js"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

<script src="~/fonts/JS/Test HTML/a_files/main.js.download"></script>
<script defer="" src="~/fonts/JS/Test HTML/a_files/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon="{&quot;rayId&quot;:&quot;70d9a0d7dd18a081&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.12.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>

