@model List<DatabasaProvider.kymdan_Users>
@{
    ViewBag.Title = "Home Page";

}
<link rel="icon" type="image/png" href="https://colorlib.com/etc/tb/Table_Fixed_Header/images/icons/favicon.ico">


@* scripts template *@

<style>
</style>
<link rel="icon" type="image/png" href="https://colorlib.com/etc/tb/Table_Fixed_Header/images/icons/favicon.ico">
<link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/animate.css">

<link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/select2.min.css">

<link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/perfect-scrollbar.css">

<link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/util.css">
<link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/main.css">

@*<script src="~/fonts/JS/Test HTML/a_files/perfect-scrollbar.min.js.download"></script>

    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });


    </script>*@
@*<link rel="stylesheet" type="text/css" href="~/fonts/JS/Test HTML/a_files/bootstrap.min.css">*@

@*<script type="text/javascript" async="" src="~/fonts/JS/Test HTML/a_files/analytics.js.download" nonce="549fe06c-d75c-49be-a808-8e92994d00bc"></script>
    <script defer="" referrerpolicy="origin" src="~/fonts/JS/Test HTML/a_files/s.js.download"></script>
    <script nonce="549fe06c-d75c-49be-a808-8e92994d00bc">(function (w, d) { !function (a, e, t, r) { a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zaraz = { deferred: [] }, a.zaraz.q = [], a.zaraz._f = function (e) { return function () { var t = Array.prototype.slice.call(arguments); a.zaraz.q.push({ m: e, a: t }) } }; for (const e of ["track", "set", "ecommerce", "debug"]) a.zaraz[e] = a.zaraz._f(e); a.addEventListener("DOMContentLoaded", (() => { var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0]; for (n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.x = Math.random(), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), a.zarazData.q = []; a.zaraz.q.length;) { const e = a.zaraz.q.shift(); a.zarazData.q.push(e) } z.defer = !0; for (const e of [localStorage, sessionStorage]) Object.keys(e).filter((a => a.startsWith("_zaraz_"))).forEach((t => a.zarazData["z_" + t.slice(7)] = JSON.parse(e.getItem(t)))); z.referrerPolicy = "origin", z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t) })) }(w, d, 0, "script"); })(window, document);</script>*@

@* scripts template *@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
    .txt_Input {
        width: 200px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0.1) !important;
        margin-left: 1px;
        margin-bottom: 5px;
    }

    .form-add {
        max-width: auto;
        padding: 45px 49px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        margin-top: auto;
        margin-bottom: 25px;
        background-color: #f2f2f2;
    }
    .font-roboto-title {
        font-family: 'Roboto', sans-serif;
        font-style: oblique;
        font-size: 16px;
    }
    .cell100 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 16px;
    }
    .title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight:bold;
    }
   
</style>

<div class="limiter" style="position:fixed">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class=" ver1 m-b-110 form-add">
                <table>
                    <tr class="row_1">
                        <th class="font-roboto-title">Tên đăng nhập</th>
                        <td>
                            <input type="text" id="txtUID" placeholder="Nhập tên đăng nhập" class="txt_Input" />
                        </td>
                        <th class="font-roboto-title">Mật khẩu</th>
                        <td>
                            <input type="password" id="txtPWD" placeholder="Nhập mật khẩu" class="txt_Input" />
                        </td>
                        <td>
                            <div class="btn-primary" id="lblAddOrEdit" style="padding:5px;border:1px solid #ccc;width:80px;text-align:center" onclick="AddOrEdit()">Thêm</div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <th class="font-roboto-title">Nhập lại mật khẩu</th>
                        <td>
                            <input type="password" id="txtPWD2" placeholder="Nhập lai mật khẩu" class="txt_Input" />
                        </td>
                        <th class="font-roboto-title">Họ và tên</th>
                        <td>
                            <input type="text" id="txtName" placeholder="Nhập họ và tên" class="txt_Input" />
                        </td>
                        <td></td>
                    </tr>
                    @*<tr>
                            <td>
                                <div id="lblAddOrEdit" style="padding:5px;border:1px solid #ccc;width:80px;text-align:center" onclick="AddOrEdit()">ADD</div>
                            </td>
                            <td></td>
                        </tr>*@
                </table>
                <p id="lblMS" style="padding:8px;border:1px solid #4cff00;display:none"></p>

            </div>
            <div class="table100 ver2 m-b-110">
                <div class="table100-head">
                    <table class="table-fixed" id="UserList">
                        <thead>
                            <tr class="row100 head">
                                <td align="center">
                                    <input type="checkbox" class="select" id="select-all" name="select-all">
                                </td>
                                <th class="cell100 title column1">Tên đăng nhập</th>
                                <th class="cell100 title column2">Mật khẩu</th>
                                <th class="cell100 title column3">Họ và tên</th>
                                <th class="cell100 title column4"></th>
                                @*<th class="cell100 column5">Spots</th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table100-body" @*class="table100-body js-pscroll ps ps--active-y"*@ style="height: 500px;overflow: scroll;">
                    <table>
                        <tbody>
                            @foreach (DatabasaProvider.kymdan_Users item in Model)
                            {
                            <tr class="row100 body" id="tr_@item.ID">
                                <td align="center">
                                    <input type="checkbox" class="select_item" name="@item.ID" id="@item.ID">
                                </td>
                                <td class="cell100 column1 uid">@item.Uid</td>
                                <td class="cell100 column2 pwd">@item.Pwd</td>
                                <td class="cell100 column3 name">@item.Fullname</td>
                                <td class="cell100 column4 action">
                                    <a href="javascript:BeginEdit('@item.ID','@item.Uid','@item.Fullname')">
                                        <span class="btn btn-primary btn-lg glyphicon glyphicon-pencil" title="sửa">
                                        </span>
                                    </a>

                                    &nbsp;
                                    <a href="javascript:Delete('@item.ID','@item.Fullname')">
                                        <span class="btn btn-danger btn-lg glyphicon glyphicon-trash" title="xóa">
                                        </span>
                                    </a>

                                </td>

                            </tr>


                            }
                        </tbody>
                    </table>
                    @*<div class="ps__rail-x" style="left: 0px; bottom: -167px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 167px; height: 585px; right: 5px;"><div class="ps__thumb-y" tabindex="0" style="top: 83px; height: 293px;"></div></div>*@
                </div>
            </div>

        </div>
    </div>
</div>

@* ------------------------------------------------------------------------------------- *@

@*<h2 id="TT">Thêm</h2>
    <input type="text" id="txtUID" placeholder="Nhap Username" />
    <br />
    <input type="password" id="txtPWD" placeholder="Nhap Password" />
    <br />
    <input type="password" id="txtPWD2" placeholder="Nhap lai Password" />
    <br />
    <input type="text" id="txtName" placeholder="Nhap Username" />
    <br />
    <div id="lblAddOrEdit" style="padding:5px;border:1px solid #ccc;width:80px;text-align:center" onclick="AddOrEdit()">ADD</div>
    <p id="lblMS" style="padding:8px;border:1px solid #4cff00;display:none"></p>*@
<script>

    //Nhan biet ADD or EDIT
    var EditMode = false;
    var EditID = '';

    //Add - Edit
    function AddOrEdit() {
        if (EditMode) {
            SaveEdit();
        }
        else {
            AddNewUser();
        }
    }

    //Them moi 1 row
    function AddNewUser() {

        //Kiem tra
        var uid = $('#txtUID').val();
        var pwd1 = $('#txtPWD').val();
        var pwd2 = $('#txtPWD2').val();
        var name = $('#txtName').val();

        if (uid == '' || pwd1 == '' || pwd2 == '' || name == '') {
            $('#lblMS').html('Phai nhap du tat ca thong tin');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        else if (pwd1 != pwd2) {
            $('#lblMS').html('Mat khau va mat khau nhap lai khong giong nhau');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        // AJAX
        var form = new FormData();
        form.append("uid", uid);
        form.append("pwd", pwd1);
        form.append("name", name);
        //AJAX Request
        var xhr = new XMLHttpRequest();
        //xhr.open("POST",'https://localhost:44328/Home/AddUser', true);
        xhr.open("POST", domain + '/Home/AddUser', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {
                    var IDnew = json_ct.Data.NewID;
                    //Them dong moi
                    //var tr = '<tr><td>' + uid + '</td><td>' + pwd1 + '</td><td>' + name + '</td><td></td></tr>';
                    var tr = `<tr id="tr_${IDnew}"><td>  ${uid} </td><td> ${pwd1} </td><td> ${name}</td><td>  <a href="javascript:Delete('${IDnew}','${name}')">[Delete]</a>  &nbsp; <a href="javascript:BeginEdit('${IDnew}','${uid}','${name}')">[EDIT]</a> </td></tr>`;
                    $('#UserList').append(tr);
                    $('#lblMS').html('Da them moi thanh cong');
                    $('#lblMS').css('boder-color', 'green');
                    $('#lblMS').css('color', 'green');
                    $('#lblMS').css('display', 'block');
                    //Xoa hien thi
                    $('#txtUID').val('');
                    $('#txtPWD').val('');
                    $('#txtPWD2').val('');
                    $('#txtName').val('');

                } else {
                    $('#lblMS').html(json_ct.Data.message);
                    $('#lblMS').css('boder-color', 'red');
                    $('#lblMS').css('color', 'red');
                    $('#lblMS').css('display', 'block');
                }
            }
        }
        xhr.send(form);
    }
    //Xoa bo 1 row
    function Delete(id, name) {
        if (confirm('Are you sure delete it:' + name + '?')) {
            var form = new FormData();
            form.append('id', id);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", domain + '/Home/DeleteUser', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var json_ct = JSON.parse(content);
                    if (json_ct.Data.status == "OK") {
                        // Delete Complete
                        $('#tr_' + id).remove();
                    }
                    else {
                        // Loi ERROR
                        alert('Loi : ' + json_ct.Data.message)
                    }
                }
            }
            xhr.send(form);
        }
    }
    // EDIT >1 : Hien thi du lieu de chinh sua
    function BeginEdit(id, uid, name) {
        EditMode = true;
        $('#TT').html('EDIT');
        $('#lblAddOrEdit').html('Lưu');

        $('#txtUID').val(uid);
        $('#txtName').val(name);
        $('#txtPWD').val('');
        $('#txtPWD2').val('');

        EditID = id;
    }

    // EDIT >2 : Luu thay doi
    function SaveEdit() {
        //Kiem tra
        var uid = $('#txtUID').val();
        var pwd1 = $('#txtPWD').val();
        var pwd2 = $('#txtPWD2').val();
        var name = $('#txtName').val();
        if (uid == '' || name == '') {
            $('#lblMS').html('Phai nhap du tat ca thong tin, bo qua pass neu khong can thay doi');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        else if (pwd1 != '' && pwd1 != pwd2) {
            $('#lblMS').html('Mat khau va mat khau nhap lai khong giong nhau');
            $('#lblMS').css('boder-color', 'red');
            $('#lblMS').css('color', 'red');
            $('#lblMS').css('display', 'block');
            return;
        }
        // AJAX
        var form = new FormData();
        form.append("id", EditID);
        form.append("uid", uid);
        form.append("pwd", pwd1);
        form.append("name", name);
        //AJAX Request
        var xhr = new XMLHttpRequest();
        //xhr.open("POST",'https://localhost:44328/Home/EditUser', true);
        xhr.open("POST", domain + '/Home/EditUser', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {

                    //Cap nhat hien thi
                    $('#tr_' + EditID + ' .uid').html(uid);
                    $('#tr_' + EditID + ' .name').html(name);
                    if (pwd1 != '') {
                        $('#tr_' + EditID + ' .pwd').html(pwd1);
                    }
                    // Thong bao
                    $('#lblMS').html('Da cap nhat DU LIEU thanh cong');
                    $('#lblMS').css('boder-color', 'green');
                    $('#lblMS').css('color', 'green');
                    $('#lblMS').css('display', 'block');
                    // Xoa du lieu Form
                    $('#txtUID').val('');
                    $('#txtPWD').val('');
                    $('#txtPWD2').val('');
                    $('#txtName').val('');

                    // Change mode to ADD
                    EditMode = false;
                    $('#lblAddOrEdit').html('ADD');
                    EditID = '';
                    $('#TT').html('ADD');
                } else {
                    $('#lblMS').html(json_ct.Data.message);
                    $('#lblMS').css('boder-color', 'red');
                    $('#lblMS').css('color', 'red');
                    $('#lblMS').css('display', 'block');
                }
            }
        }
        xhr.send(form);
    }

</script>

<script>

    $(document).ready(function () {
        $("#select-all").change(function () {
            if (this.checked) {
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

        $(".select_item").click(function () {
            debugger;
            if ($(this).is(":checked")) {
                var isAllChecked = 0;

                $(".select_item").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                });

                if (isAllChecked == 0) {
                    $("#select-all").prop("checked", true);
                }
            }
            else {
                $("#select-all").prop("checked", false);
            }
        });
    });
</script>